<template>
  <v-layout>
    <v-flex>
      <v-card >
        <v-card-text>
          <v-form ref="form" v-model="valid">
            <v-container>
              <v-layout row wrap>
                <v-flex xs12 title py-1>Количество гостей</v-flex> 
                <v-flex xs4>
                  <v-text-field 
                  type="number" 
                  min=0 
                  label="Дети с 12 лет и взрослые" 
                  v-model=booking.guestCountOld></v-text-field>
                </v-flex>
                <v-flex xs4>
                  <v-text-field 
                  type="number" 
                  min=0 
                  label="Дети 5-12 лет" 
                  v-model=booking.guestCountMid></v-text-field>
                </v-flex>
                <v-flex xs4>
                  <v-text-field 
                  type="number" 
                  min=0 
                  label="Дети до 5 лет" 
                  v-model=booking.guestCountYoung></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row wrap>
                <v-flex xs12 title py-1>Тип номера</v-flex> 
                <v-flex xs6>
                  <v-select :items="roomTypes" v-model="booking.roomType" 
                  :rules="rules.required"></v-select>
                </v-flex>  
              </v-layout>
              <v-layout row wrap>
                <v-flex xs12 title py-1>Даты проживания</v-flex> 
                <v-flex xs6>
                  <v-menu 
                    ref="beginDateMenu"
                    v-model="beginDateMenu"
                    :return-value:sync="booking.beginDate"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                  >
                    <v-text-field
                      slot="activator"
                      v-model="booking.beginDate"
                      label="От"
                      append-icon="event"
                      :rules="rules.required"
                    ></v-text-field>
                    <v-date-picker v-model="booking.beginDate" :allowed-dates="allowedDates" no-title scrollable locale="ru">
                      <v-spacer></v-spacer>
                      <v-btn flat color="primary" @click="beginDateMenu = false">Отмена</v-btn>
                      <v-btn flat color="primary" @click="$refs.beginDateMenu.save(booking.beginDate)">ОК</v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-flex>  
                <v-flex xs6>
                  <v-menu 
                    ref="endDateMenu"
                    v-model="endDateMenu"
                    :return-value:sync="booking.endDate"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                  >
                    <v-text-field
                      slot="activator"
                      v-model="booking.endDate"
                      label="До"
                      append-icon="event"
                      :rules="rules.required"
                    ></v-text-field>
                    <v-date-picker v-model="booking.endDate" :allowed-dates="allowedDates" no-title scrollable locale="ru">
                      <v-spacer></v-spacer>
                      <v-btn flat color="primary" @click="endDateMenu = false">Отмена</v-btn>
                      <v-btn flat color="primary" @click="$refs.endDateMenu.save(booking.endDate)">ОК</v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-flex>  
              </v-layout>
              <v-layout row>
                <v-flex xs10 pt-4>
                  <span class="font-weight-light">{{priceMessage}}</span>
                </v-flex>
                <v-flex xs2 text-xs-right>
                  <v-btn color="primary" @click="submit">Далее</v-btn>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import moment from "moment"
import utils from "../utils"
export default {
  data() {
    return {
      roomTypes: [
        { text: "Эконом", value: 1 },
        { text: "Стандарт", value: 2 },
        { text: "Люкс", value: 3 }
      ],
      beginDateMenu: false,
      endDateMenu: false,
      valid: false,
      rules: {
        required: [value => !!value || "Обязательное поле"]
      },
      errorMessages: {
        guestCount: "Должен быть указан хотя бы один гость",
        oldGuestCount: "На одного взрослого не более 3 детей от 0-12 лет",
        invalidDatesRange: "Неверный диапазон дат"
      },
      booking: this.$store.state.booking,
      beginDate: this.$store.getters.beginDate,
      endDate: this.$store.getters.endDate,
      priceMessage: ""
    }
  },
  methods: {
    submit() {
      if (this.$refs.form.validate()) {
        this.$emit("nextStep")
      }
    },
    allowedDates(val) {
      var res = moment(val).isBetween(this.beginDate, this.endDate, null, "[]")
      return res
    }
  },
  watch: {
    booking: {
      handler() {
        if (this.booking.calculateValid()) {
          let price = 0
          let pricings = this.$store.getters.pricingsByRange(
            this.booking.beginDate,
            this.booking.endDate
          )
          pricings.forEach(pricing => {
            let cost = 0
            switch (this.booking.roomType) {
              case 1:
                cost = pricing.econom
                break
              case 2:
                cost = pricing.standart
                break
              case 3:
                cost = pricing.lux
                break
              default:
                break
            }
            price +=
              (this.booking.guestCountOld * cost +
                this.booking.guestCountMid *
                  cost *
                  pricing.childDiscountPerc *
                  0.01) *
              pricing.days
          })
          this.booking["price"] = price
          let beginDate = new Date(this.booking.beginDate)
          let endDate = new Date(this.booking.endDate)
          this.priceMessage = `Стоимость отдыха с ${beginDate.getDate()} ${utils.getMonthName(
            beginDate
          )} по ${endDate.getDate()} ${utils.getMonthName(
            endDate
          )}  для ${this.booking.allGuestCount()} ${utils.getGuestWord(
            this.booking.allGuestCount()
          )} составляет: ${price} руб.`
        } else {
          this.priceMessage = ""
        }
      },
      deep: true
    }
  },
  mounted: function() {
    this.$refs.form.validate = function() {
      var errors = this.inputs.filter(function(input) {
        return !input.validate(true)
      }).length
      var booking = this.$parent.$parent.booking

      var validDatas = [
        booking.validateGuestCount(),
        booking.validateGuestCountOld(),
        booking.validateDatesRange()
      ]
      validDatas.forEach(validData => {
        let inputs = []
        if (!validData.valid) {
          inputs = this.inputs.filter(input => {
            let result
            validData.fields.forEach(field => {
              if (input.$vnode.data.model.expression.includes(field)) {
                result = input
              }
            })
            return result
          })
          inputs.forEach(input => {
            input.valid = false
            input.errorBucket.push(validData.message)
          })
          errors++
        }
      })
      this.$parent.$parent.errors = errors
      return !errors
    }
  }
}
</script>

<style>
</style>
