<template>
  <v-layout>
    <v-flex>
      <v-card >
        <v-card-text>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-container>
              <v-layout row wrap>
                <v-flex xs12 title py-1>ФИО</v-flex> 
                <v-flex xs4>
                  <v-text-field
                    label="Фамилия" 
                    v-model=booking.sName
                    validate-on-blur
                    :rules="[rules.required]"></v-text-field>
                </v-flex>
                <v-flex xs4>
                  <v-text-field
                    label="Имя" 
                    validate-on-blur
                    v-model=booking.fName
                    required
                    :rules="[rules.required]"></v-text-field>
                </v-flex>
                <v-flex xs4>
                  <v-text-field
                    label="Отчество"
                    validate-on-blur 
                    v-model=booking.mName
                    required
                    :rules="[rules.required]"></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row wrap>
                <v-flex xs12 title py-1>Контакты</v-flex> 
                <v-flex xs6>
                  <v-text-field
                    label="E-mail" 
                    v-model=booking.email
                    validate-on-blur
                    required
                    :rules="[rules.required, rules.email]"></v-text-field>
                </v-flex>
                <v-flex xs6>
                  <v-text-field
                    label="Телефон" 
                    v-model=booking.phone
                    validate-on-blur
                    prefix="+7"
                    mask=" (###) ###-##-##"
                    required
                    :rules="[rules.required, rules.phone]"></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row>
                <v-spacer></v-spacer>
                <v-btn flat @click="prevStep">Назад</v-btn>
                <v-btn color="primary" @click="submit">Сохранить</v-btn>
              </v-layout>
            </v-container>
          </v-form>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import emailRegex from "email-regex"

export default {
  data() {
    return {
      booking: this.$store.state.booking,
      valid: true,
      rules: {
        required: value => !!value || "Обязательное поле",
        phone: value =>
          (/^\d+$/.test(value) && value.length === 10) || "Неверный формат",
        email: value =>
          emailRegex({ exact: true }).test(value) || "Неверный E-mail"
      }
    }
  },
  methods: {
    prevStep() {
      this.$emit("prevStep")
    },
    submit() {
      if (this.$refs.form.validate()) {
        this.$emit("nextStep")
      }
    }
  }
}
</script>

<style>
</style>
