<template>
  <v-layout>
    <v-flex>
      <v-card >
        <v-card-title class="display-2">Подтверждение заказа</v-card-title>
        <v-card-text class="subtitle">  
          <v-layout row wrap>
            <v-flex xs12>
              <span>{{booking.sName}} {{booking.fName}} {{booking.mName}}</span>
            </v-flex>
            <v-flex xs12>
              <span>
                <b>{{booking.guestCountOld}}</b> {{utils.getAdultWord(booking.guestCountOld)}}
                <span v-if="booking.guestCountMid>0">, <b>{{booking.guestCountMid}}</b> {{utils.getChildWord(booking.guestCountMid)}} от 5 до 12 лет</span>
                <span v-if="booking.guestCountYoung>0">,  <b>{{booking.guestCountYoung}}</b> {{utils.getChildWord(booking.guestCountYoung)}} до 5 лет</span>
              </span>
            </v-flex>
            <v-flex xs12>
              <span>{{booking.roomTypeAsString()}}</span>
            </v-flex>
            <v-flex xs12>
              <span>
                С {{new Date(booking.beginDate).getDate()}} {{utils.getMonthName(new Date(booking.beginDate))}} 
                по {{new Date(booking.endDate).getDate()}} {{utils.getMonthName(new Date(booking.endDate))}}
                </span>
            </v-flex>
            <v-flex xs12>
              <span>{{booking.price}} руб.</span>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-spacer></v-spacer>
            <v-btn flat @click="prevStep">Назад</v-btn>
            <v-btn color="primary" @click="submit">Подтвердить</v-btn>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import utils from "../utils"
import axios from "axios"

export default {
  data() {
    return {
      booking: this.$store.state.booking,
      utils: utils
    }
  },
  methods: {
    prevStep() {
      this.$emit("prevStep")
    },
    submit() {
      axios
        .post("http://apiUrl", this.booking)
        .then(response => {
          console.info(response)
        })
        .catch(error => {
          console.error(error)
        })
    }
  }
}
</script>

<style>
</style>
