<template>
	<v-app class="primary gradient">
		<v-container>
			<v-layout align-center fill-height>
				<v-flex align-center>
					<v-stepper v-model="step" vertical>
						<v-stepper-step :complete="step > 1" step="1">Расчет стоимости</v-stepper-step>
						<v-stepper-content step="1">
							<calculating-form @nextStep="step++"></calculating-form>
						</v-stepper-content>
						<v-stepper-step :complete="step > 2" step="2">Контакты</v-stepper-step>
						<v-stepper-content step="2">
							<contacts-form @prevStep="step--" @nextStep="step++"></contacts-form>
						</v-stepper-content>
            <v-stepper-step :complete="step > 3" step="3">Результат</v-stepper-step>
						<v-stepper-content step="3">
							<result-page @prevStep="step--"></result-page>
						</v-stepper-content>
					</v-stepper>
				</v-flex>
			</v-layout>
		</v-container>
	</v-app>
</template>

<script>
import CalculatingFormVue from "@/components/CalculatingForm.vue"
import ContactsFormVue from "@/components/ContactsForm.vue"
import Booking from "./models/booking"
import ResultPageVue from "./components/ResultPage.vue"

export default {
  data() {
    return {
      booking: this.$store.state.booking,
      step: 1
    }
  },
  components: {
    calculatingForm: CalculatingFormVue,
    contactsForm: ContactsFormVue,
    resultPage: ResultPageVue
  },
  created: function() {
    this.$store.commit("setBooking", new Booking())
  }
}
</script>

<style>
</style>
